.catalog-page main {
    min-height: 100vh;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 20px;
}

.catalog-list-item {
    display: flex;
    width: 50%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: lightblue;
    border-radius: 14px;
    transition: 0.2s ease;
}

.catalog-list-item:hover {
    cursor: pointer;
    background: aqua;
}

.catalog-list-container {
    margin-bottom: 20px;
    flex-basis: 25%;
}

header {
    height: 56px;
    width: 100%;

    background: lightgray;
}

.catalog-item-modal label {
    font-size: 18px;
    margin-bottom: 10px;
}

.catalog-item-modal input {
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}


@media (max-width: 520px) {
    .catalog-list-container {
        flex-basis: 100%;
    }
}
