header {
    position: fixed;
    top: 0;
    left: 0;
    height: 56px;
    width: 100%;
    background: var(--header-bg-color);
    z-index: 3;
}

.catalog-page main {
    box-sizing: border-box;
    min-height: 100vh;
    padding-top: 56px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 20px;
}

.catalog-list-item {
    position: relative;
    display: flex;
    width: 50%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: lightblue;
    border-radius: 14px;
    transition: 0.2s ease;
}

.catalog-list-item:hover {
    cursor: pointer;
    background: aqua;
}

.price::after {
    content: attr(data-currency);
    margin-left: 2px;
    font-size: 0.8rem;
}

.catalog-list-container {
    margin-bottom: 20px;
    flex-basis: 25%;
}

.catalog-item-modal label {
    font-size: 18px;
    margin-bottom: 10px;
}

.catalog-item-modal input {
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.categories-container {
    min-height: 100%;
    background-color: var(--header-bg-color);
}

.category {
    padding: 10px;
    width: fit-content;
    position: relative;
}

.category label {
    cursor: pointer;
}

.categories-container > .category {
    display: none;
}

.categories-container > .category > .category {
    display: none;
}

.category .category label:before {
    content: '-';
    position: absolute;
    left: -2px;
}

.category .category {
    margin-left: 10px;
}

.category:hover > .category {
    display: block;
}

.categories-container:hover > .category {
    display: block;
}

@media (max-width: 520px) {
    .catalog-list-container {
        flex-basis: 100%;
    }
}
